<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=p, initial-scale=1.0">  -->
    <title>This is the embedded JavaScript page</title>
</head>

<body>
    <% if (KindOfDay === "thursday" || KindOfDay === "sunda") { %>
        <h1 style="color: blue;">So today is <%= KindOfDay %>!</h1>
   <% } else { %>
        <h1 style="color: rgb(8, 90, 213);">Today is <%= KindOfDay %>.</h1>
   <% } %>
</body>

</html>
